body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #000;
  font-family: Arial, sans-serif;
}

#background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#candle-container {
  cursor: pointer;
}

#candle {
  width: 600px;
  height: auto;
  animation: flicker 1s infinite alternate;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

#wish-text {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-family: "Great Vibes", cursive;
  color: #fff8e1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  animation: fadeInUp 2s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#photos-container img {
  position: absolute;
  opacity: 0;
  transition: all 1s ease;
  border-radius: 10px;
  box-shadow: 0 0 15px white;
}

.photo {
  position: absolute;
  width: 1000px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
